* {
  margin: 0;
  padding: 0;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 5px 0px 10px rgb(124, 122, 122);
  z-index: 999;
}

.navigation-ul {
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin: 0 !important;
}

li {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-weight: 540;
  font-size: 14px;
  letter-spacing: 1.75px;
  position: relative;
  margin: 0 10px;
}

li a {
  text-decoration: none;
  color: #ababab;
}

.navigation-ul li a:after {
  /* background: none repeat scroll 0 0 transparent; */
  bottom: 0;
  content: "";
  height: 1px;
  left: 0%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navigation-ul li a:hover:after {
  width: 100%;
  left: 0;
}

li a:hover {
  text-decoration: none;
  color: black;
  transition: 300ms;
}

.close-icon {
  cursor: pointer;
}

@media all and (min-width: 1200px) {
  .navigation-menu {
    padding: 25px 10px;
  }
  .menu-icon {
    visibility: hidden;
  }
  .navigation-ul {
    margin-right: 40px;
  }
  .navigation-logo {
    margin-left: 40px;
  }
}

@media all and (max-width: 1200px) {
  .navigation-menu {
    padding: 5px 10px;
  }

  .navigation-ul {
    width: 50%;
    overflow: hidden;
  }

  .menu-icon {
    position: absolute;
    right: 15%;
    cursor: pointer;
  }

  .menu-icon:hover {
    color: #5945e6;
    transition: 300ms;
  }

  .navigation-ul ul {
    visibility: hidden;
  }
}

.nav-modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 12px 20px;
}
